/* Eğitim Platformu Gradient Arkaplan */
html, body, #root{
    width : 100%;
    height: 100%;
    overflow: auto;
}
body {
    /*background: linear-gradient(135deg, #4A90E2, #23b3f5, #5055e3);*/
    background: linear-gradient(135deg, #7fa8d4, #85c5e7, #7f7fd9);
    height: 100%;
    margin: 0;
  }